* {
  box-sizing: border-box;
  margin: 0 0;
}

li {
  list-style: none;
}

ul {
  padding: 0 0;
}
a {
  text-decoration: none;
  color: grey;
}
body {
  display: flex;
  height: 100vh;
}

.menu-container {
  height: 100%;
  width: 40%;
  border-right: solid;
}

.menu-container header {
  padding: 28px;
}

#navbar,
#navbar ul {
  display: flex;
  flex-direction: column;
  height: 88%;
}
#navbar li {
  padding: 12px;
  border-top: 1px solid grey;
  color: #fff;
}

#navbar a {
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-doc {
  display: flex;
  flex-direction: column;

  margin-left: 48px;
}

#main-doc p {
  margin-left: 8px;
}

#main-doc h2,
#main-doc header {
  display: flex;
  justify-content: center;
  align-items: center;
}
