@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
  box-sizing: border-box;
  margin: 0 0;
}

li {
  list-style: none;
}

ul {
  padding: 0 0;
}
a {
  text-decoration: none;
  color: grey;
}
body {
  display: flex;
  height: 140vh;

  background-color: #eeeeee;
  font-family: 'Open Sans', sans-serif;
}

/*  NavBar  */
.menu-container {
  height: 100%;
  width: 40%;
  border-right: solid;
}

.menu-container header {
  display: flex;
  justify-content: center;
  padding: 28px;
  font-weight: bold;
}

#navbar,
#navbar ul {
  display: flex;
  flex-direction: column;
  height: 88%;
}
#navbar li {
  padding: 12px;
  border-top: 1px solid grey;
  color: #fff;
}

#navbar a {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*    Main    */

#main-doc {
  display: flex;
  flex-direction: column;

  margin: 0 28px;
}

#main-doc header {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*  Titles and Texts */
section header {
  font-size: 24px;
  font-weight: bold;

  margin: 28px 0;
}

section h3 {
  margin: 16px 0;
}

section h5,
section h6 {
  margin: 8px 0;
}

section p,
section code,
section h6,
section h5,
section ul {
  margin-left: 12px;
}

code {
  background: lightgrey;
  opacity: 0.5;
}

/*  Media Queries */
@media (max-width: 600px) {
  body {
    flex-direction: column;
  }

  .menu-container {
    width: 100%;
    border-right: none;
    border-bottom: solid;
  }
}
