* {
  box-sizing: border-box;
  margin: 0 0;
}

li {
  list-style: none;
}

ul {
  padding: 0 0;
}

body {
  display: flex;
  height: 100vh;
}

.menu-container {
  height: 100%;
}

#navbar,
#navbar ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}
.menu-container li {
  padding: 12px;

  background-color: black;
  color: #fff;
}

#main-doc {
}
